# Dependencias y builds
node_modules/
dist/
build/
target/
*.jar
.venv/
__pycache__/
*.pyc

# Entorno local
.env
.env.local
*.local

# Logs
*.log

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
